tei-div {
  display: block;
}
tei-p {
  display: block;
  margin-top: .5em;
  margin-bottom: .5em;
}

tei-list[type=simple] {
  list-style-type: none;
}
tei-list[type=simple]>tei-item {
  display: list-item;
}

tei-hi[rend=italics] {
  font-style: italic;
}

tei-lb:before {
  white-space: pre;
  content: "\A";
}


tei-table {
  margin-top: 30px;
  display:table;
  border-collapse:separate;
  border-spacing: 60px;
  font-size: 12px;
}


td {
  border-bottom: thin solid black;
}

th {
  position: sticky;
  top: 0;
}

tr{
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: black;
  font-style: oblique;
}
