body {
  background-color: #F5F4EB;
}

.center {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width:50%;
  height:50%;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

h1 {
    text-align:center;
}

h3 {
    text-align:center;
}

tei-div#nTitle {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.33em;
  font-weight: bold;
  font-family: serif;
  word-wrap: break-word;
}

tei-div#nCopyright {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.33em;
  font-weight: bold;
  font-family: serif;
  word-wrap: break-word;
}

tei-div#nCetei {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.33em;
  font-weight: bold;
  font-family: serif;
  word-wrap: break-word;
}


tei-div#nLife {
  display: none;
}

tei-div#nSource {
  display: none;
}

tei-div#nAbbrev {
  display: none;
}

tei-p {
  display: block;
  margin-top: .5em;
  margin-bottom: .5em;
}

tei-body {
  display: none;
}

#nStandOff {
  display: none;
}

tei-div#nIntro {
  display: block;
  margin-top: .5em;
  margin-bottom: .5em;
}

#warn {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5em;
  margin-bottom: .5em;
  font-weight: bold;
  color: red;

}
