body {
  background-color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 120%;
  line-height: 1.2;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

h1 {
    text-align:center;
}

h3 {
    text-align:center;
}

#nTablesHead {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.33em;
  margin-bottom: 2em;
  font-weight: bold;
  font-size: x-large;
  font-family: serif;
  word-wrap: break-word;
}

tei-front {
  display: none;
}
tei-p {
  display: block;
  margin-top: .5em;
  margin-bottom: .5em;
}

tei-list[type=simple] {
  list-style-type: none;
}
tei-list[type=simple]>tei-item {
  display: list-item;
}

tei-lb:before {
  white-space: pre;
  content: "\A";
}

tei-hi[rend=italic] { font-style: italic; }

#nStandOff {
  display: none;
}

tei-biblstruct > p {
  display: grid;
  grid-template-columns: .5fr .5fr 1.6fr 2fr .4fr 1fr;
  column-gap: 1em;
  margin-left: 60px;
  margin-right: 60px;
}

tei-biblstruct > p > tei-title {
  text-align: right;
}
tei-biblstruct > p > tei-title[lang="ar-Latn-x-lc"] {
  text-align: left;
}

tei-biblstruct > p > tei-measure {
  text-align: right;
}

tei-biblstruct > p > * {
  display:inline;
}

tei-biblstruct > div {
  display: none;
}
tei-biblstruct > div.show {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
tei-biblstruct > div.show > img {
  height: 400px;
  margin: auto;
}
tei-biblstruct > div > tei-note[type="values"] {
  display: block;
}
tei-biblstruct > div > tei-note {
  display: none;
}
tei-biblstruct > div > tei-analytic > * {
  display: block;
}
tei-biblstruct > div > tei-monogr > * {
  display: block;
}
tei-biblstruct > div > tei-note[type="values"] > * {
  display: block;
}
tei-measure {
  display: block;
}
tei-biblstruct[type="row"]>p>tei-title[lang="ar-Latn-x-lc"] {
  cursor: pointer;
  text-decoration: underline;     
  text-decoration-color: blue; 
}
tei-biblstruct > div tei-idno {
  cursor: pointer;
  text-decoration: underline;     
  text-decoration-color: blue; 
}

tei-biblstruct > p > img {
  height: 70px;
}

#printedDescr {
  text-align: justify;
  line-height: 1.4;
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
}

tei-biblstruct tei-imprint tei-ref[type="LAT"],[type="LONG"] {
display: none;

}



i {
font-style: italic;
}

tei-biblstruct tei-monogr tei-note[type="remarks"] {
  display: none;
}

/* tei-note[type="values"] tei-measurgroup tei-mesure tei-num:empty {
  display: none;
}
*/


tei-analytic tei-respstmt tei-resp tei-idno, tei-analytic tei-author tei-idno, tei-note[type="conversation"] {
  display: none;
}

tei-analytic>tei-author {
  display: block;
}

tei-analytic>tei-respstmt {
  display: block;
}

tei-imprint {
  display: block;
}

tei-monogr tei-biblscope[unit="page"] {
  display: block;
}

.ar,.en {
  margin: 0 2em 0 2em;
}
.ar {
  direction: rtl;
  text-align: right;
  border-spacing:.5em;

}

.en {

  text-align: left;
  border-spacing:.5em;

}

.ar p,.en p {
  margin: 0;
}
